body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:542px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u286_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:390px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 204, 1) 0%, rgba(255, 255, 204, 1) 0%, rgba(255, 204, 0, 1) 100%, rgba(255, 204, 0, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 204, 1) 0%, rgba(255, 255, 204, 1) 0%, rgba(255, 204, 0, 1) 100%, rgba(255, 204, 0, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 204, 1) 0%, rgba(255, 255, 204, 1) 0%, rgba(255, 204, 0, 1) 100%, rgba(255, 204, 0, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u286 {
  border-width:0px;
  position:absolute;
  left:302px;
  top:82px;
  width:220px;
  height:390px;
}
#u286_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u287_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:230px;
  height:29px;
}
#u287 {
  border-width:0px;
  position:absolute;
  left:296px;
  top:97px;
  width:230px;
  height:29px;
}
#u287_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u288_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:266px;
  height:526px;
}
#u288 {
  border-width:0px;
  position:absolute;
  left:276px;
  top:14px;
  width:266px;
  height:526px;
}
#u288_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u289_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:329px;
}
#u289 {
  border-width:0px;
  position:absolute;
  left:307px;
  top:136px;
  width:210px;
  height:329px;
}
#u289_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u290_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:43px;
}
#u290 {
  border-width:0px;
  position:absolute;
  left:388px;
  top:475px;
  width:43px;
  height:43px;
}
#u290_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u291_img {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-3px;
  width:73px;
  height:57px;
}
#u291 {
  border-width:0px;
  position:absolute;
  left:309px;
  top:91px;
  width:63px;
  height:47px;
}
#u291_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u292_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negrito', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#000000;
}
#u292 {
  border-width:0px;
  position:absolute;
  left:394px;
  top:102px;
  width:41px;
  height:16px;
  font-family:'Arial Negrito', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#000000;
}
#u292_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  white-space:nowrap;
}
#u293_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:63px;
}
#u293 {
  border-width:0px;
  position:absolute;
  left:324px;
  top:180px;
  width:63px;
  height:63px;
}
#u293_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u294_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:63px;
}
#u294 {
  border-width:0px;
  position:absolute;
  left:413px;
  top:170px;
  width:1px;
  height:62px;
}
#u294_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u295_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:2px;
}
#u295 {
  border-width:0px;
  position:absolute;
  left:317px;
  top:252px;
  width:82px;
  height:1px;
}
#u295_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u296_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:2px;
}
#u296 {
  border-width:0px;
  position:absolute;
  left:427px;
  top:252px;
  width:82px;
  height:1px;
}
#u296_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u297_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:63px;
}
#u297 {
  border-width:0px;
  position:absolute;
  left:413px;
  top:270px;
  width:1px;
  height:62px;
}
#u297_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u298_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:2px;
}
#u298 {
  border-width:0px;
  position:absolute;
  left:316px;
  top:351px;
  width:82px;
  height:1px;
}
#u298_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u299_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:2px;
}
#u299 {
  border-width:0px;
  position:absolute;
  left:426px;
  top:351px;
  width:82px;
  height:1px;
}
#u299_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u300_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:63px;
}
#u300 {
  border-width:0px;
  position:absolute;
  left:412px;
  top:369px;
  width:1px;
  height:62px;
}
#u300_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u301_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:63px;
}
#u301 {
  border-width:0px;
  position:absolute;
  left:436px;
  top:179px;
  width:63px;
  height:63px;
}
#u301_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u302_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:63px;
}
#u302 {
  border-width:0px;
  position:absolute;
  left:327px;
  top:269px;
  width:63px;
  height:63px;
}
#u302_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
