body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:542px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u33_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:390px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u33 {
  border-width:0px;
  position:absolute;
  left:302px;
  top:82px;
  width:220px;
  height:390px;
}
#u33_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u34_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:231px;
  height:359px;
}
#u34 {
  border-width:0px;
  position:absolute;
  left:295px;
  top:113px;
  width:231px;
  height:359px;
}
#u34_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u35_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:230px;
  height:29px;
}
#u35 {
  border-width:0px;
  position:absolute;
  left:296px;
  top:97px;
  width:230px;
  height:29px;
}
#u35_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u36_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:266px;
  height:526px;
}
#u36 {
  border-width:0px;
  position:absolute;
  left:276px;
  top:14px;
  width:266px;
  height:526px;
}
#u36_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u37_img {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-3px;
  width:73px;
  height:57px;
}
#u37 {
  border-width:0px;
  position:absolute;
  left:309px;
  top:91px;
  width:63px;
  height:47px;
}
#u37_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u38_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negrito', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#000000;
}
#u38 {
  border-width:0px;
  position:absolute;
  left:385px;
  top:102px;
  width:82px;
  height:16px;
  font-family:'Arial Negrito', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#000000;
}
#u38_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  white-space:nowrap;
}
#u39_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:43px;
}
#u39 {
  border-width:0px;
  position:absolute;
  left:388px;
  top:475px;
  width:43px;
  height:43px;
}
#u39_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u40 {
  border-width:0px;
  position:absolute;
  left:309px;
  top:307px;
  width:206px;
  height:25px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u41 {
  border-width:0px;
  position:absolute;
  left:309px;
  top:236px;
  width:206px;
  height:25px;
}
#u41_input {
  position:absolute;
  left:0px;
  top:0px;
  width:206px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u42 {
  border-width:0px;
  position:absolute;
  left:309px;
  top:271px;
  width:206px;
  height:26px;
}
#u42_input {
  position:absolute;
  left:0px;
  top:0px;
  width:206px;
  height:26px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
